@use './base/reset';
@use './base/global';
@use './base/typography';
@use './base/form';

:root {
  --palette-hue: var(--hue-lime);
  --palette-hue-rotate-by: -15;
  --palette-chroma: 1.25;

  --white: #fff;
  --black: #333;

  --background-color: var(--stone-1);

  --default-radius: var(--radius-2);
  --showcard-width: var(--size-px-12);
}